[Desktop Entry]
Encoding=UTF-8
Name=Eacrediton
Comment=Eacrediton the Eacred wallet
Exec=eacrediton %U
Terminal=false
Type=Application
Icon=eacred
MimeType=x-scheme-handler/eacred;
Categories=Office;Finance;
